<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>Euro.lc</key>
    <string>E_uro.lc.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>J.base</key>
    <string>J_.base.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.sc</key>
    <string>S_.sc.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>acutecmb</key>
    <string>acutecmb.glif</string>
    <key>acutecmb.uc</key>
    <string>acutecmb.uc.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceleft.uc</key>
    <string>braceleft.uc.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>braceright.uc</key>
    <string>braceright.uc.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketleft.uc</key>
    <string>bracketleft.uc.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>bracketright.uc</key>
    <string>bracketright.uc.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dieresiscmb</key>
    <string>dieresiscmb.glif</string>
    <key>dieresiscmb.uc</key>
    <string>dieresiscmb.uc.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dollar.lc</key>
    <string>dollar.lc.glif</string>
    <key>dollar.lc_AT_weight800</key>
    <string>dollar.lc_A_T__weight800.glif</string>
    <key>dollar.sc_AT_weight800</key>
    <string>dollar.sc_A_T__weight800.glif</string>
    <key>dollar.tab_AT_weight800</key>
    <string>dollar.tab_A_T__weight800.glif</string>
    <key>dollar_AT_weight800</key>
    <string>dollar_A_T__weight800.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>emdash.uc</key>
    <string>emdash.uc.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>endash.uc</key>
    <string>endash.uc.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>exclamdown.uc</key>
    <string>exclamdown.uc.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f.salt_connect</key>
    <string>f.salt_connect.glif</string>
    <key>f.salt_noconnect</key>
    <string>f.salt_noconnect.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.dnom</key>
    <string>five.dnom.glif</string>
    <key>five.lc</key>
    <string>five.lc.glif</string>
    <key>five.numr</key>
    <string>five.numr.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.dnom</key>
    <string>four.dnom.glif</string>
    <key>four.lc</key>
    <string>four.lc.glif</string>
    <key>four.numr</key>
    <string>four.numr.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.salt</key>
    <string>g.salt.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>hyphen.uc</key>
    <string>hyphen.uc.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i.trk</key>
    <string>i.trk.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.dnom</key>
    <string>one.dnom.glif</string>
    <key>one.lc</key>
    <string>one.lc.glif</string>
    <key>one.numr</key>
    <string>one.numr.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenleft.uc</key>
    <string>parenleft.uc.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>parenright.uc</key>
    <string>parenright.uc.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>questiondown.uc</key>
    <string>questiondown.uc.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.dnom</key>
    <string>seven.dnom.glif</string>
    <key>seven.lc</key>
    <string>seven.lc.glif</string>
    <key>seven.numr</key>
    <string>seven.numr.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>space.em</key>
    <string>space.em.glif</string>
    <key>space.en</key>
    <string>space.en.glif</string>
    <key>space.frac</key>
    <string>space.frac.glif</string>
    <key>space.tab_em</key>
    <string>space.tab_em.glif</string>
    <key>space.tab_en</key>
    <string>space.tab_en.glif</string>
    <key>space.tab_thin</key>
    <string>space.tab_thin.glif</string>
    <key>space.thin</key>
    <string>space.thin.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.dnom</key>
    <string>three.dnom.glif</string>
    <key>three.lc</key>
    <string>three.lc.glif</string>
    <key>three.numr</key>
    <string>three.numr.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.dnom</key>
    <string>two.dnom.glif</string>
    <key>two.lc</key>
    <string>two.lc.glif</string>
    <key>two.numr</key>
    <string>two.numr.glif</string>
    <key>typetry.com</key>
    <string>typetry.com.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.dnom</key>
    <string>zero.dnom.glif</string>
    <key>zero.lc</key>
    <string>zero.lc.glif</string>
    <key>zero.lc_salt_slash</key>
    <string>zero.lc_salt_slash.glif</string>
    <key>zero.numr</key>
    <string>zero.numr.glif</string>
    <key>zero.salt_slash</key>
    <string>zero.salt_slash.glif</string>
    <key>zero.sc_salt_slash</key>
    <string>zero.sc_salt_slash.glif</string>
    <key>zero.tab_lc_salt_slash</key>
    <string>zero.tab_lc_salt_slash.glif</string>
    <key>zero.tab_salt_slash</key>
    <string>zero.tab_salt_slash.glif</string>
  </dict>
</plist>
