<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.defcon.sortDescriptor</key>
    <array>
      <dict>
        <key>allowPseudoUnicode</key>
        <true/>
        <key>type</key>
        <string>cannedDesign</string>
      </dict>
    </array>
    <key>com.typemytype.robofont.segmentType</key>
    <string>curve</string>
    <key>com.typetr.outliner</key>
    <dict>
      <key>contrast</key>
      <real>10.0</real>
      <key>contrastAngle</key>
      <real>320.0</real>
      <key>thickness</key>
      <real>60.0</real>
    </dict>
    <key>designspace.location</key>
    <array>
      <array>
        <string>Width</string>
        <real>84.0</real>
      </array>
    </array>
    <key>public.glyphOrder</key>
    <array>
      <string>space</string>
      <string>space.frac</string>
      <string>space.tab</string>
      <string>space.tab_em</string>
      <string>space.tab_thin</string>
      <string>exclam</string>
      <string>exclam.sc</string>
      <string>quotedbl</string>
      <string>numbersign</string>
      <string>numbersign.lc</string>
      <string>numbersign.sc</string>
      <string>numbersign.tab</string>
      <string>dollar</string>
      <string>dollar.lc</string>
      <string>dollar.lc_AT_weight800</string>
      <string>dollar.sc</string>
      <string>dollar.sc_AT_weight800</string>
      <string>dollar.tab</string>
      <string>dollar.tab_AT_weight800</string>
      <string>dollar_AT_weight800</string>
      <string>percent</string>
      <string>percent.lc</string>
      <string>percent.tab</string>
      <string>ampersand</string>
      <string>ampersand.sc</string>
      <string>quotesingle</string>
      <string>parenleft</string>
      <string>parenleft.sc</string>
      <string>parenleft.tab</string>
      <string>parenleft.uc</string>
      <string>parenright</string>
      <string>parenright.sc</string>
      <string>parenright.tab</string>
      <string>parenright.uc</string>
      <string>asterisk</string>
      <string>plus</string>
      <string>plus.lc</string>
      <string>plus.tab</string>
      <string>comma</string>
      <string>comma.tab</string>
      <string>hyphen</string>
      <string>hyphen.uc</string>
      <string>period</string>
      <string>period.tab</string>
      <string>slash</string>
      <string>slash.sc</string>
      <string>slash.tab</string>
      <string>zero</string>
      <string>zero.dnom</string>
      <string>zero.lc</string>
      <string>zero.lc_salt_slash</string>
      <string>zero.numr</string>
      <string>zero.salt_slash</string>
      <string>zero.sc</string>
      <string>zero.sc_salt_slash</string>
      <string>zero.tab</string>
      <string>zero.tab_lc</string>
      <string>zero.tab_lc_salt_slash</string>
      <string>zero.tab_salt_slash</string>
      <string>one</string>
      <string>one.dnom</string>
      <string>one.lc</string>
      <string>one.numr</string>
      <string>one.sc</string>
      <string>one.tab</string>
      <string>one.tab_lc</string>
      <string>two</string>
      <string>two.dnom</string>
      <string>two.lc</string>
      <string>two.numr</string>
      <string>two.sc</string>
      <string>two.tab</string>
      <string>two.tab_lc</string>
      <string>three</string>
      <string>three.dnom</string>
      <string>three.lc</string>
      <string>three.numr</string>
      <string>three.sc</string>
      <string>three.tab</string>
      <string>three.tab_lc</string>
      <string>four</string>
      <string>four.dnom</string>
      <string>four.lc</string>
      <string>four.numr</string>
      <string>four.sc</string>
      <string>four.tab</string>
      <string>four.tab_lc</string>
      <string>five</string>
      <string>five.dnom</string>
      <string>five.lc</string>
      <string>five.numr</string>
      <string>five.sc</string>
      <string>five.tab</string>
      <string>five.tab_lc</string>
      <string>six</string>
      <string>six.dnom</string>
      <string>six.lc</string>
      <string>six.numr</string>
      <string>six.salt</string>
      <string>six.sc</string>
      <string>six.tab</string>
      <string>six.tab_lc</string>
      <string>seven</string>
      <string>seven.dnom</string>
      <string>seven.lc</string>
      <string>seven.numr</string>
      <string>seven.sc</string>
      <string>seven.tab</string>
      <string>seven.tab_lc</string>
      <string>eight</string>
      <string>eight.dnom</string>
      <string>eight.lc</string>
      <string>eight.numr</string>
      <string>eight.sc</string>
      <string>eight.tab</string>
      <string>eight.tab_lc</string>
      <string>nine</string>
      <string>nine.dnom</string>
      <string>nine.lc</string>
      <string>nine.numr</string>
      <string>nine.salt</string>
      <string>nine.sc</string>
      <string>nine.tab</string>
      <string>nine.tab_lc</string>
      <string>colon</string>
      <string>colon.tab</string>
      <string>semicolon</string>
      <string>semicolon.tab</string>
      <string>less</string>
      <string>less.lc</string>
      <string>less.tab</string>
      <string>equal</string>
      <string>equal.lc</string>
      <string>equal.tab</string>
      <string>greater</string>
      <string>greater.lc</string>
      <string>greater.tab</string>
      <string>question</string>
      <string>question.sc</string>
      <string>at</string>
      <string>A</string>
      <string>A.sc</string>
      <string>B</string>
      <string>B.sc</string>
      <string>C</string>
      <string>C.sc</string>
      <string>D</string>
      <string>D.sc</string>
      <string>E</string>
      <string>E.sc</string>
      <string>F</string>
      <string>F.sc</string>
      <string>G</string>
      <string>G.sc</string>
      <string>H</string>
      <string>H.sc</string>
      <string>I</string>
      <string>I.sc</string>
      <string>J</string>
      <string>J.base</string>
      <string>J.base_sc</string>
      <string>J.sc</string>
      <string>K</string>
      <string>K.sc</string>
      <string>L</string>
      <string>L.sc</string>
      <string>M</string>
      <string>M.sc</string>
      <string>N</string>
      <string>N.sc</string>
      <string>O</string>
      <string>O.sc</string>
      <string>P</string>
      <string>P.sc</string>
      <string>Q</string>
      <string>Q.sc</string>
      <string>R</string>
      <string>R.sc</string>
      <string>S</string>
      <string>S.sc</string>
      <string>T</string>
      <string>T.sc</string>
      <string>U</string>
      <string>U.sc</string>
      <string>V</string>
      <string>V.sc</string>
      <string>W</string>
      <string>W.sc</string>
      <string>X</string>
      <string>X.sc</string>
      <string>Y</string>
      <string>Y.sc</string>
      <string>Z</string>
      <string>Z.sc</string>
      <string>bracketleft</string>
      <string>bracketleft.sc</string>
      <string>bracketleft.tab</string>
      <string>bracketleft.uc</string>
      <string>backslash</string>
      <string>backslash.sc</string>
      <string>backslash.tab</string>
      <string>bracketright</string>
      <string>bracketright.sc</string>
      <string>bracketright.tab</string>
      <string>bracketright.uc</string>
      <string>asciicircum</string>
      <string>underscore</string>
      <string>grave</string>
      <string>a</string>
      <string>a.sinf</string>
      <string>a.sups</string>
      <string>b</string>
      <string>b.sinf</string>
      <string>b.sups</string>
      <string>c</string>
      <string>c.sinf</string>
      <string>c.sups</string>
      <string>d</string>
      <string>d.sinf</string>
      <string>d.sups</string>
      <string>e</string>
      <string>e.sinf</string>
      <string>e.sups</string>
      <string>f</string>
      <string>f.salt_connect</string>
      <string>f.salt_noconnect</string>
      <string>f.sinf</string>
      <string>f.sups</string>
      <string>g</string>
      <string>g.salt</string>
      <string>g.sinf</string>
      <string>g.sups</string>
      <string>h</string>
      <string>h.sinf</string>
      <string>h.sups</string>
      <string>i</string>
      <string>i.sinf</string>
      <string>i.sups</string>
      <string>i.trk</string>
      <string>j</string>
      <string>j.sinf</string>
      <string>j.sups</string>
      <string>k</string>
      <string>k.sinf</string>
      <string>k.sups</string>
      <string>l</string>
      <string>l.sinf</string>
      <string>l.sups</string>
      <string>m</string>
      <string>m.sinf</string>
      <string>m.sups</string>
      <string>n</string>
      <string>n.sinf</string>
      <string>o</string>
      <string>o.sinf</string>
      <string>o.sups</string>
      <string>p</string>
      <string>p.sinf</string>
      <string>p.sups</string>
      <string>q</string>
      <string>q.sinf</string>
      <string>q.sups</string>
      <string>r</string>
      <string>r.sinf</string>
      <string>r.sups</string>
      <string>s</string>
      <string>s.sinf</string>
      <string>s.sups</string>
      <string>t</string>
      <string>t.sinf</string>
      <string>t.sups</string>
      <string>u</string>
      <string>u.sinf</string>
      <string>u.sups</string>
      <string>v</string>
      <string>v.sinf</string>
      <string>v.sups</string>
      <string>w</string>
      <string>w.sinf</string>
      <string>w.sups</string>
      <string>x</string>
      <string>x.sinf</string>
      <string>x.sups</string>
      <string>y</string>
      <string>y.sinf</string>
      <string>y.sups</string>
      <string>z</string>
      <string>z.sinf</string>
      <string>z.sups</string>
      <string>braceleft</string>
      <string>braceleft.sc</string>
      <string>braceleft.tab</string>
      <string>braceleft.uc</string>
      <string>bar</string>
      <string>braceright</string>
      <string>braceright.sc</string>
      <string>braceright.tab</string>
      <string>braceright.uc</string>
      <string>asciitilde</string>
      <string>nbspace</string>
      <string>exclamdown</string>
      <string>exclamdown.sc</string>
      <string>exclamdown.uc</string>
      <string>cent</string>
      <string>cent.sc</string>
      <string>cent.sc_AT_weight800</string>
      <string>cent.tab</string>
      <string>cent.tab_AT_weight800</string>
      <string>cent_AT_weight800</string>
      <string>sterling</string>
      <string>sterling.lc</string>
      <string>sterling.sc</string>
      <string>sterling.tab</string>
      <string>currency</string>
      <string>yen</string>
      <string>yen.lc</string>
      <string>yen.sc</string>
      <string>yen.tab</string>
      <string>brokenbar</string>
      <string>section</string>
      <string>section.lc</string>
      <string>section.sc</string>
      <string>dieresis</string>
      <string>copyright</string>
      <string>ordfeminine</string>
      <string>ordfeminine.lc</string>
      <string>guillemotleft</string>
      <string>guillemotleft.uc</string>
      <string>logicalnot</string>
      <string>logicalnot.lc</string>
      <string>registered</string>
      <string>macron</string>
      <string>degree</string>
      <string>degree.lc</string>
      <string>degree.sc</string>
      <string>degree.tab</string>
      <string>plusminus</string>
      <string>plusminus.lc</string>
      <string>plusminus.tab</string>
      <string>two.sups</string>
      <string>three.sups</string>
      <string>acute</string>
      <string>paragraph</string>
      <string>paragraph.lc</string>
      <string>paragraph.sc</string>
      <string>periodcentered</string>
      <string>periodcentered.uc</string>
      <string>cedilla</string>
      <string>one.sups</string>
      <string>ordmasculine</string>
      <string>ordmasculine.lc</string>
      <string>guillemotright</string>
      <string>guillemotright.uc</string>
      <string>onequarter</string>
      <string>onehalf</string>
      <string>threequarters</string>
      <string>questiondown</string>
      <string>questiondown.sc</string>
      <string>questiondown.uc</string>
      <string>Agrave</string>
      <string>Agrave.sc</string>
      <string>Aacute</string>
      <string>Aacute.sc</string>
      <string>Acircumflex</string>
      <string>Acircumflex.sc</string>
      <string>Atilde</string>
      <string>Atilde.sc</string>
      <string>Adieresis</string>
      <string>Adieresis.sc</string>
      <string>Aring</string>
      <string>Aring.sc</string>
      <string>AE</string>
      <string>AE.sc</string>
      <string>Ccedilla</string>
      <string>Ccedilla.sc</string>
      <string>Egrave</string>
      <string>Egrave.sc</string>
      <string>Eacute</string>
      <string>Eacute.sc</string>
      <string>Ecircumflex</string>
      <string>Ecircumflex.sc</string>
      <string>Edieresis</string>
      <string>Edieresis.sc</string>
      <string>Igrave</string>
      <string>Igrave.sc</string>
      <string>Iacute</string>
      <string>Iacute.sc</string>
      <string>Icircumflex</string>
      <string>Icircumflex.sc</string>
      <string>Idieresis</string>
      <string>Idieresis.sc</string>
      <string>Eth</string>
      <string>Eth.sc</string>
      <string>Ntilde</string>
      <string>Ntilde.sc</string>
      <string>Ograve</string>
      <string>Ograve.sc</string>
      <string>Oacute</string>
      <string>Oacute.sc</string>
      <string>Ocircumflex</string>
      <string>Ocircumflex.sc</string>
      <string>Otilde</string>
      <string>Otilde.sc</string>
      <string>Odieresis</string>
      <string>Odieresis.sc</string>
      <string>multiply</string>
      <string>multiply.lc</string>
      <string>multiply.tab</string>
      <string>Oslash</string>
      <string>Oslash.sc</string>
      <string>Oslash.sc_AT_weight800</string>
      <string>Oslash_AT_weight800</string>
      <string>Ugrave</string>
      <string>Ugrave.sc</string>
      <string>Uacute</string>
      <string>Uacute.sc</string>
      <string>Ucircumflex</string>
      <string>Ucircumflex.sc</string>
      <string>Udieresis</string>
      <string>Udieresis.sc</string>
      <string>Yacute</string>
      <string>Yacute.sc</string>
      <string>Thorn</string>
      <string>Thorn.sc</string>
      <string>germandbls</string>
      <string>germandbls.sc</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>aring</string>
      <string>ae</string>
      <string>ccedilla</string>
      <string>egrave</string>
      <string>egrave.sinf</string>
      <string>egrave.sups</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>eth</string>
      <string>ntilde</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>divide</string>
      <string>divide.lc</string>
      <string>divide.tab</string>
      <string>oslash</string>
      <string>oslash_AT_weight800</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>yacute</string>
      <string>thorn</string>
      <string>ydieresis</string>
      <string>Amacron</string>
      <string>Amacron.sc</string>
      <string>amacron</string>
      <string>Abreve</string>
      <string>Abreve.sc</string>
      <string>abreve</string>
      <string>Aogonek</string>
      <string>Aogonek.sc</string>
      <string>aogonek</string>
      <string>Cacute</string>
      <string>Cacute.sc</string>
      <string>cacute</string>
      <string>Ccircumflex</string>
      <string>Ccircumflex.sc</string>
      <string>ccircumflex</string>
      <string>Cdotaccent</string>
      <string>Cdotaccent.sc</string>
      <string>cdotaccent</string>
      <string>Ccaron</string>
      <string>Ccaron.sc</string>
      <string>ccaron</string>
      <string>Dcaron</string>
      <string>Dcaron.sc</string>
      <string>dcaron</string>
      <string>Dcroat</string>
      <string>Dcroat.sc</string>
      <string>dcroat</string>
      <string>Emacron</string>
      <string>Emacron.sc</string>
      <string>emacron</string>
      <string>Ebreve</string>
      <string>Ebreve.sc</string>
      <string>ebreve</string>
      <string>Edotaccent</string>
      <string>Edotaccent.sc</string>
      <string>edotaccent</string>
      <string>Eogonek</string>
      <string>Eogonek.sc</string>
      <string>eogonek</string>
      <string>Ecaron</string>
      <string>Ecaron.sc</string>
      <string>ecaron</string>
      <string>Gcircumflex</string>
      <string>Gcircumflex.sc</string>
      <string>gcircumflex</string>
      <string>gcircumflex.salt</string>
      <string>Gbreve</string>
      <string>Gbreve.sc</string>
      <string>gbreve</string>
      <string>gbreve.salt</string>
      <string>Gdotaccent</string>
      <string>Gdotaccent.sc</string>
      <string>gdotaccent</string>
      <string>gdotaccent.salt</string>
      <string>Gcommaaccent</string>
      <string>Gcommaaccent.sc</string>
      <string>gcommaaccent</string>
      <string>gcommaaccent.salt</string>
      <string>Hcircumflex</string>
      <string>Hcircumflex.sc</string>
      <string>hcircumflex</string>
      <string>Hbar</string>
      <string>Hbar.sc</string>
      <string>hbar</string>
      <string>Itilde</string>
      <string>Itilde.sc</string>
      <string>itilde</string>
      <string>Imacron</string>
      <string>Imacron.sc</string>
      <string>imacron</string>
      <string>Ibreve</string>
      <string>Ibreve.sc</string>
      <string>ibreve</string>
      <string>Iogonek</string>
      <string>Iogonek.sc</string>
      <string>iogonek</string>
      <string>Idotaccent</string>
      <string>Idotaccent.sc</string>
      <string>idotless</string>
      <string>Jcircumflex</string>
      <string>Jcircumflex.base</string>
      <string>Jcircumflex.base_sc</string>
      <string>Jcircumflex.sc</string>
      <string>jcircumflex</string>
      <string>Kcommaaccent</string>
      <string>Kcommaaccent.sc</string>
      <string>kcommaaccent</string>
      <string>Lacute</string>
      <string>Lacute.sc</string>
      <string>lacute</string>
      <string>Lcommaaccent</string>
      <string>Lcommaaccent.sc</string>
      <string>lcommaaccent</string>
      <string>Lcaron</string>
      <string>Lcaron.sc</string>
      <string>lcaron</string>
      <string>Ldot</string>
      <string>Ldot.sc</string>
      <string>ldot</string>
      <string>Lslash</string>
      <string>Lslash.sc</string>
      <string>lslash</string>
      <string>Nacute</string>
      <string>Nacute.sc</string>
      <string>nacute</string>
      <string>Ncommaaccent</string>
      <string>Ncommaaccent.sc</string>
      <string>ncommaaccent</string>
      <string>Ncaron</string>
      <string>Ncaron.sc</string>
      <string>ncaron</string>
      <string>Eng</string>
      <string>Eng.sc</string>
      <string>eng</string>
      <string>Omacron</string>
      <string>Omacron.sc</string>
      <string>omacron</string>
      <string>Obreve</string>
      <string>Obreve.sc</string>
      <string>obreve</string>
      <string>Ohungarumlaut</string>
      <string>Ohungarumlaut.sc</string>
      <string>ohungarumlaut</string>
      <string>OE</string>
      <string>OE.sc</string>
      <string>oe</string>
      <string>Racute</string>
      <string>Racute.sc</string>
      <string>racute</string>
      <string>Rcommaaccent</string>
      <string>Rcommaaccent.sc</string>
      <string>rcommaaccent</string>
      <string>Rcaron</string>
      <string>Rcaron.sc</string>
      <string>rcaron</string>
      <string>Sacute</string>
      <string>Sacute.sc</string>
      <string>sacute</string>
      <string>Scircumflex</string>
      <string>Scircumflex.sc</string>
      <string>scircumflex</string>
      <string>Scedilla</string>
      <string>Scedilla.sc</string>
      <string>scedilla</string>
      <string>Scaron</string>
      <string>Scaron.sc</string>
      <string>scaron</string>
      <string>Tcommaaccent</string>
      <string>Tcommaaccent.sc</string>
      <string>Tcaron</string>
      <string>Tcaron.sc</string>
      <string>tcaron</string>
      <string>Tbar</string>
      <string>Tbar.sc</string>
      <string>tbar</string>
      <string>Utilde</string>
      <string>Utilde.sc</string>
      <string>utilde</string>
      <string>Umacron</string>
      <string>Umacron.sc</string>
      <string>umacron</string>
      <string>Ubreve</string>
      <string>Ubreve.sc</string>
      <string>ubreve</string>
      <string>Uring</string>
      <string>Uring.sc</string>
      <string>uring</string>
      <string>Uhungarumlaut</string>
      <string>Uhungarumlaut.sc</string>
      <string>uhungarumlaut</string>
      <string>Uogonek</string>
      <string>Uogonek.sc</string>
      <string>uogonek</string>
      <string>Wcircumflex</string>
      <string>Wcircumflex.sc</string>
      <string>wcircumflex</string>
      <string>Ycircumflex</string>
      <string>Ycircumflex.sc</string>
      <string>ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ydieresis.sc</string>
      <string>Zacute</string>
      <string>Zacute.sc</string>
      <string>zacute</string>
      <string>Zdotaccent</string>
      <string>Zdotaccent.sc</string>
      <string>zdotaccent</string>
      <string>Zcaron</string>
      <string>Zcaron.sc</string>
      <string>zcaron</string>
      <string>florin</string>
      <string>florin.lc</string>
      <string>florin.sc</string>
      <string>florin.tab</string>
      <string>Gcaron</string>
      <string>Gcaron.sc</string>
      <string>gcaron</string>
      <string>gcaron.salt</string>
      <string>Aringacute</string>
      <string>Aringacute.sc</string>
      <string>aringacute</string>
      <string>AEacute</string>
      <string>AEacute.sc</string>
      <string>aeacute</string>
      <string>Oslashacute</string>
      <string>Oslashacute.sc</string>
      <string>Oslashacute.sc_AT_weight800</string>
      <string>Oslashacute_AT_weight800</string>
      <string>oslashacute</string>
      <string>oslashacute_AT_weight800</string>
      <string>Scommaaccent</string>
      <string>Scommaaccent.sc</string>
      <string>scommaaccent</string>
      <string>jdotless</string>
      <string>schwa</string>
      <string>circumflex</string>
      <string>caron</string>
      <string>breve</string>
      <string>dotaccent</string>
      <string>ring</string>
      <string>ogonek</string>
      <string>tilde</string>
      <string>hungarumlaut</string>
      <string>gravecmb</string>
      <string>gravecmb.uc</string>
      <string>acutecmb</string>
      <string>acutecmb.uc</string>
      <string>circumflexcmb</string>
      <string>circumflexcmb.uc</string>
      <string>tildecmb</string>
      <string>tildecmb.uc</string>
      <string>brevecmb</string>
      <string>brevecmb.uc</string>
      <string>dieresiscmb</string>
      <string>dieresiscmb.uc</string>
      <string>ringcmb</string>
      <string>ringcmb.uc</string>
      <string>hungarumlautcmb</string>
      <string>hungarumlautcmb.uc</string>
      <string>caroncmb</string>
      <string>caroncmb.uc</string>
      <string>caroncmb.vert</string>
      <string>caroncmb.vert.uc</string>
      <string>commaturnedabovecmb</string>
      <string>commaaccentcmb</string>
      <string>commaaccentcmb.uc</string>
      <string>cedillacmb</string>
      <string>cedillacmb.uc</string>
      <string>ogonekcmb</string>
      <string>ogonekcmb.uc</string>
      <string>Delta</string>
      <string>mu</string>
      <string>pi</string>
      <string>Wgrave</string>
      <string>Wgrave.sc</string>
      <string>wgrave</string>
      <string>Wacute</string>
      <string>Wacute.sc</string>
      <string>wacute</string>
      <string>Wdieresis</string>
      <string>Wdieresis.sc</string>
      <string>wdieresis</string>
      <string>Ygrave</string>
      <string>Ygrave.sc</string>
      <string>ygrave</string>
      <string>space.en</string>
      <string>space.em</string>
      <string>space.tab_en</string>
      <string>space.thin</string>
      <string>endash.tab</string>
      <string>endash</string>
      <string>endash.uc</string>
      <string>emdash</string>
      <string>emdash.uc</string>
      <string>horizontalbar</string>
      <string>horizontalbar.uc</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotesinglbase</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quotedblbase</string>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>bullet</string>
      <string>bullet.uc</string>
      <string>ellipsis</string>
      <string>perthousand</string>
      <string>perthousand.lc</string>
      <string>perthousand.tab</string>
      <string>minute</string>
      <string>minute.lc</string>
      <string>minute.tab</string>
      <string>second</string>
      <string>second.lc</string>
      <string>second.tab</string>
      <string>guilsinglleft</string>
      <string>guilsinglleft.uc</string>
      <string>guilsinglright</string>
      <string>guilsinglright.uc</string>
      <string>fraction</string>
      <string>zero.sups</string>
      <string>four.sups</string>
      <string>five.sups</string>
      <string>six.sups</string>
      <string>seven.sups</string>
      <string>eight.sups</string>
      <string>nine.sups</string>
      <string>n.sups</string>
      <string>zero.sinf</string>
      <string>one.sinf</string>
      <string>two.sinf</string>
      <string>three.sinf</string>
      <string>four.sinf</string>
      <string>five.sinf</string>
      <string>six.sinf</string>
      <string>seven.sinf</string>
      <string>eight.sinf</string>
      <string>nine.sinf</string>
      <string>Euro</string>
      <string>Euro.lc</string>
      <string>Euro.sc</string>
      <string>Euro.tab</string>
      <string>bitcoin</string>
      <string>bitcoin.lc</string>
      <string>bitcoin.sc</string>
      <string>bitcoin.tab</string>
      <string>copyrightsound</string>
      <string>trademark</string>
      <string>partialdiff</string>
      <string>product</string>
      <string>summation</string>
      <string>minus</string>
      <string>minus.lc</string>
      <string>minus.tab</string>
      <string>radical</string>
      <string>infinity</string>
      <string>integral</string>
      <string>approxequal</string>
      <string>approxequal.lc</string>
      <string>approxequal.tab</string>
      <string>notequal</string>
      <string>notequal.lc</string>
      <string>notequal.tab</string>
      <string>lessequal</string>
      <string>lessequal.lc</string>
      <string>lessequal.tab</string>
      <string>greaterequal</string>
      <string>greaterequal.lc</string>
      <string>greaterequal.tab</string>
      <string>lozenge</string>
      <string>checkmark</string>
      <string>Omega</string>
      <string>commaaccent</string>
      <string>apple</string>
      <string>fi</string>
      <string>fl</string>
      <string>.null</string>
      <string>Tcedilla</string>
      <string>aogonekcmb</string>
      <string>commabelowcmb</string>
      <string>dotaccentcmb</string>
      <string>dotmiddlecmb</string>
      <string>macroncmb</string>
      <string>periodcmb</string>
      <string>sfthyphen</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>commabelowcmb.uc</string>
      <string>dotaccentcmb.uc</string>
      <string>dotmiddlecmb.uc</string>
      <string>macroncmb.uc</string>
      <string>Tcedilla.sc</string>
      <string>.notdef</string>
    </array>
    <key>tnCurvePalette</key>
    <dict>
      <key>sliderBottomMax</key>
      <integer>98</integer>
      <key>sliderBottomMin</key>
      <integer>30</integer>
      <key>sliderTopMax</key>
      <integer>98</integer>
      <key>sliderTopMin</key>
      <integer>30</integer>
    </dict>
  </dict>
</plist>
